{% extends "main.html" %}

<!-- block emptying -->
{% block tabs %}{% endblock %}
{% block site_nav %}{% endblock %}
{% block footer %}{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" href="stylesheets/dgs_home.css" />
{% endblock %}


{% block hero %}
  <div class="hero md-grid md-typeset">
    <h1 class="hero__title">GraphQL Magic for Spring Boot</h1>
    <p class="hero__subtitle">Build a full-featured GraphQL server with Java or Kotlin in record time</p>
    <a class="hero__link" href="/getting-started">Getting Started Guide <span class="md-icon icon--inline">{% include ".icons/octicons/chevron-right-16.svg" %}</span></a>
  </div>
{% endblock %}


{% block content %}

  <div class="benefit benefit--codegen">
    <h2 class="benefit__heading benefit__heading--codegen">Create types from schemas with code generation</h2>

    <code class="dgs-example-code">
      <pre class="dgs-example-pre">generateJava {
  schemaPaths = ["${projectDir}/src/main/resources/schema"]
  packageName = 'com.example.packagename'

  <span class="highlight">generateClient = true</span> <span class="comment">// Enable typesafe query API generation</span>
}</pre>
    </code>
  </div>

  <div class="benefit benefit--annotation">
    <h2 class="benefit__heading benefit__heading--annotation">Annotation-based Spring Boot programming model</h2>

    <code class="dgs-example-code">
      <pre class="dgs-example-pre">
<span class="highlight">@DgsComponent</span>
public class MovieDataFetcher {

  <span class="highlight">@DgsData(parentType = "Query", field = "movies")</span>
    public List<Movie> movies() {
        return Lists.newArrayList()</pre>
    </code>
  </div>

  <div class="benefit benefit--testing">
    <h2 class="benefit__heading benefit__heading--testing">Write query tests as unit tests</h2>

    <code class="dgs-example-code">
      <pre class="dgs-example-pre">
import com.netflix.graphql.dgs.DgsQueryExecutor
import com.netflix.graphql.dgs.autoconfig.DgsAutoConfiguration
import org.assertj.core.api.Assertions.assertThat
import org.junit.jupiter.api.Test
import org.springframework.beans.factory.annotation.Autowired
import org.springframework.boot.test.context.SpringBootTest

<span class="highlight">@SpringBootTest(classes = [DgsAutoConfiguration::class, ShowsDataFetcher::class])</span>
class ShowsDataFetcherTest {

    @Autowired
    lateinit var dgsQueryExecutor: DgsQueryExecutor

    <span class="highlight">@Test</span>
    fun shows() {
        val titles : List<String> = dgsQueryExecutor.executeAndExtractJsonPath("""
            {
                shows {
                    title
                    releaseYear
                }
            }
        """.trimIndent(), "data.shows[*].title")

        assertThat(titles).contains("Ozark")
    }
}</pre>
    </code>
  </div>

  <div class="benefit benefit--subscriptions">
    <h2 class="benefit__heading benefit__heading--subscriptions">GraphQL subscriptions over WebSockets or SSE</h2>

    <code class="dgs-example-code">
      <pre class="dgs-example-pre">
implementation 'com.netflix.graphql.dgs:<span class="highlight">graphql-dgs-subscriptions-gateway-autoconfigure</span>:latest.release'
</pre>
    </code>
  </div>

  <div class="benefit benefit--uploads">
    <h2 class="benefit__heading benefit__heading--uploads">File uploads via GraphQL</h2>

    <code class="dgs-example-code">
      <pre class="dgs-example-pre">
@DgsData(parentType = DgsConstants.MUTATION.TYPE_NAME, <span class="highlight">field = "uploadScriptWithMultipartPOST"</span>)
public boolean <span class="highlight">uploadScript(DataFetchingEnvironment dfe)</span> throws IOException {
    MultipartFile file = dfe.getArgument("input");
    String content = new String(file.getBytes());
    return ! content.isEmpty();
}</pre>
    </code>
  </div>

  <div class="benefit benefit--federation">
    <h2 class="benefit__heading benefit__heading--federation">Easy integration with GraphQL Federation</h2>

    <code class="dgs-example-code">
      <pre class="dgs-example-pre">
@Component
<span class="highlight">public class ExampleCustomFederation implements DgsFederationResolver</span> {
    @Override
    public DataFetcher&lt;Object&gt; entitiesFetcher() {
        // In this example, if "Movie" is the type name,
        // entitiesFetcher() creates and returns a new Movie instance.
        return  env -> env.&lt;List&lt;Map&lt;String, Object&gt;&gt;g&gt;etArgument(_Entity.argumentName)
            .stream()
            .map(values -> {
                if ("Movie".equals(values.get("__typename"))) {
                    return new Movie.Builder().movieId((Integer) values.get("id")).build();
                }
                return null;
            }).collect(Collectors.toList());
    }
}</pre>
    </code>
  </div>







{% endblock %}
