{% extends "main.html" %}

<!-- block emptying -->
{% block tabs %}{% endblock %}



{% block extrahead %}
  <link rel="stylesheet" href="stylesheets/dgs_home.css?v=3.0.8" />
{% endblock %}


{% block hero %}
  <div class="hero md-grid md-typeset">
    <h1 class="hero__title">GraphQL Made Easy for Spring Boot</h1>
    <p class="hero__subtitle">Build a full-featured GraphQL server with Java or Kotlin in record time</p>
    <a class="hero__link" href="getting-started">Getting Started Guide <span class="md-icon icon--inline">{% include ".icons/octicons/chevron-right-16.svg" %}</span></a>
  </div>
{% endblock %}


{% block content %}
  <a class="example" href="getting-started/#implement-a-data-fetcher">
    <h2 class="benefit__heading benefit__heading--annotation">Annotation-based Spring Boot programming model</h2>

      <code class="dgs-example-code">
<pre class="dgs-example-pre">
<span class="highlight">@DgsComponent</span>
public class ShowsDataFetcher {

  <span class="highlight">@DgsData(parentType = "Query", field = "shows")</span>
  public List&lt;Show&gt; shows(@InputArgument("titleFilter") String titleFilter) {
      if(titleFilter == null) {
          return shows;
      }

      return shows.stream()
          .filter(s -> s.getTitle().contains(titleFilter))
          .collect(Collectors.toList());
  }</pre>
    </code>

    <div class="example__link">
        <span class="example__link-label">Implement a Data Fetcher</span>
        <span class="md-icon icon--inline">{% include ".icons/octicons/chevron-right-16.svg" %}</span>
    </div>
  </a>

  <a class="example" href="query-execution-testing/">
    <h2 class="benefit__heading benefit__heading--testing">Write query tests as unit tests</h2>

    <code class="dgs-example-code">
<pre class="dgs-example-pre">
<span class="highlight">@SpringBootTest(classes = {DgsAutoConfiguration.class, ShowsDatafetcher.class})</span>
class ShowsDatafetcherTest {

  @Autowired
  DgsQueryExecutor dgsQueryExecutor;

  <span class="highlight">@Test</span>
  void shows() {
      List&lt;String&gt; titles = dgsQueryExecutor.executeAndExtractJsonPath(
          " { shows { title releaseYear }}",
          "data.shows[*].title");

      assertThat(titles).contains("Ozark");
  }
}</pre>
    </code>

    <div class="example__link">
      <span class="example__link-label">Test your queries</span>
      <span class="md-icon icon--inline">{% include ".icons/octicons/chevron-right-16.svg" %}</span>
    </div>
  </a>

  <a class="example" href="generating-code-from-schema/">
    <h2 class="benefit__heading benefit__heading--codegen">Create types from schemas with code generation</h2>

    <code class="dgs-example-code">
<pre class="dgs-example-pre">
@DgsData(parentType = <span class="highlight">DgsConstants.QUERY_TYPE</span>, field = <span class="highlight">DgsConstants.SHOW.TYPE_NAME</span>)
public List&lt;Show&gt; shows() {
  return List.of(
    <span class="highlight">Show.newBuilder()
        .title("Ozark")
        .releaseYear(2017)
        .build()</span>
  );
}</pre>
    </code>

    <div class="example__link">
      <span class="example__link-label">Explore codegen</span>
      <span class="md-icon icon--inline">{% include ".icons/octicons/chevron-right-16.svg" %}</span>
    </div>
  </a>

  <a class="example" href="advanced/subscriptions/">
    <h2 class="benefit__heading benefit__heading--subscriptions">GraphQL subscriptions over WebSockets or SSE</h2>

    <code class="dgs-example-code">
<pre class="dgs-example-pre">
@DgsData(<span class="highlight">parentType = "Subscription"</span>, field = "stocks")
public Publisher<Stock> stocks() {
  return Flux.interval(Duration.ofSeconds(1)).map({ t -> Tick(t.toString()) })
}</pre>
    </code>

    <div class="example__link">
      <span class="example__link-label">Provide subscriptions</span>
      <span class="md-icon icon--inline">{% include ".icons/octicons/chevron-right-16.svg" %}</span>
    </div>
  </a>

  <a class="example" href="advanced/file-uploads/">
    <h2 class="benefit__heading benefit__heading--uploads">File uploads via GraphQL</h2>

    <code class="dgs-example-code">
<pre class="dgs-example-pre">
@DgsData(parentType = DgsConstants.MUTATION.TYPE_NAME, <span class="highlight">field = "uploadScriptWithMultipartPOST"</span>)
public boolean <span class="highlight">uploadScript(DataFetchingEnvironment dfe)</span> throws IOException {
  MultipartFile file = dfe.getArgument("input");
  String content = new String(file.getBytes());
  return ! content.isEmpty();
}</pre>
    </code>

    <div class="example__link">
      <span class="example__link-label">Upload files</span>
      <span class="md-icon icon--inline">{% include ".icons/octicons/chevron-right-16.svg" %}</span>
    </div>
  </a>

  <a class="example" href="advanced/federated-testing/">
    <h2 class="benefit__heading benefit__heading--federation">Easy integration with GraphQL Federation</h2>

    <code class="dgs-example-code">
<pre class="dgs-example-pre">
type Show <span class="highlight">@key(fields: "id") @extends</span> {
id: ID <span class="highlight">@external</span>
reviews: [Review]
}

type Review {
starRating: Int
}</pre>
    </code>

    <code class="dgs-example-code">
<pre class="dgs-example-pre">
<span class="highlight">@DgsEntityFetcher(name = "Show")</span>
public Show showEntity(Map<String, Object> values) {
  return new Show(values.get("id"));
}

<span class="highlight">@DgsData(parentType = "Show", field = "reviews")</span>
public List&lt;Review&gt; reviews(DataFetchingEnvironment dfe) {
  Show show = dfe.getSource();
  return reviewService.getReviews(show.getId());
}</pre>
    </code>

    <div class="example__link">
      <span class="example__link-label">Federate multiple graphs</span>
      <span class="md-icon icon--inline">{% include ".icons/octicons/chevron-right-16.svg" %}</span>
    </div>
  </a>




  <aside class="cta">
    <div class="cta__inner">
      <a href="getting-started/">
        Jump right in with the Getting Started Guide
        <span class="md-icon icon--inline">{% include ".icons/octicons/chevron-right-16.svg" %}</span>
        <span class="post-cta-decoration"></span>
      </a>
    </div>
  </aside>


  <h1>Q&amp;A</h1>

  <div class="faq">
    <h2 class="faq__question">How did this project begin?</h2>
    <p class="faq__answer">The DGS framework project started at Netflix in 2019 as internal teams
      began developing multiple GraphQL services. As 2020 wrapped up, Netflix
      decided to open source the framework and build a community around it.</p>
  </div>

  <div class="faq">
    <h2 class="faq__question">Is it production ready?</h2>
    <p class="faq__answer">Yes! Netflix has been using the framework for over a year and a half in different parts of our organisation, including at large scale, before it was open sourced. We've had many releases adding new features, fixing bugs etc., and it has become a very stable platform.</p>
  </div>

  <div class="faq">
    <h2 class="faq__question">Why not just use graphql-java?</h2>
    <p class="faq__answer">The DGS framework is built on top of graphql-java. Graphql-java is, and should be, lower level building blocks to handle query execution and such. The DGS framework makes all this available with a convenient Spring Boot programming model.</p>
  </div>

  <div class="faq">
    <h2 class="faq__question">The framework has a lot of Kotlin code, can I use it with Java?</h2>
    <p class="faq__answer">The DGS framework is primarily designed to be used with Java. Although it's primarily written in Kotlin, most consumers of the framework are Java. Of course, if you are using Kotlin, that works great too.</p>
  </div>

  <div class="faq">
    <h2 class="faq__question">Does Netflix run on a fork of the framework?</h2>
    <p class="faq__answer">No, Netflix is using the same OSS components! We do have some extra modules plugged in for distributed tracing, logging, metrics etc, and we have documentation that shows how to implement similar integrations for your own infrastructure.</p>
  </div>

  <div class="faq">
    <h2 class="faq__question">Why start with release version 3.x?</h2>
    <p class="faq__answer">Netflix developed and used the framework over the course of almost two years before open sourcing, which involved many releases. After open sourcing the project, we are now using the OSS project internally as well. We did have to wipe out the git history, but continued the versioning we were already using.</p>
  </div>

{% endblock %}
