/*
  header ===================
*/

.sash::after {
  transform: skew(30deg, 0) translateX(-85%);
  width: 42rem;
}
@media screen and (min-width: 2000px) {
  .sash::after {
    transform: skew(30deg, 0) translateX(-90%);
  }
}


.dgs-header {
  padding-bottom: 4.5rem;
  padding-top: 4.5rem;
}

.md-header-nav__button.dgs-logo img,
.md-header-nav__button.dgs-logo svg {
  height: 3.5rem;
}

.dgs-header .md-search__inner {
  padding: 1.5rem;
}

@media screen and (min-width: 60em) {
  .md-search__output {
    top: 4rem;
  }
  [data-md-toggle=search]:checked~.md-header .md-search__output {
    width: calc(100% - 3rem);
  }
}


/*
  home content ===================
*/

.home__section {
  width: 100%;
}
.home__section.md-grid {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 30em) {
  .home__section.md-grid {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
}
@media screen and (min-width: 60em) {
  .home__section.md-grid {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
}


.md-typeset .hero__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  max-width: 7.5em;
}

.md-typeset .hero__subtitle {
  color: var(--text-color--secondary);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  max-width: 17em;
}

.hero__link {
  display: inline-block;
  font-size: .7rem;
  font-weight: 600;
  letter-spacing: .05em;
  text-transform: uppercase;
}
.hero__link .icon--inline {
  margin-left: -.1em;
}
.hero__link svg {
  fill: var(--link-color);
}
