/*
  define variables ===================
*/

:root {
  --background-color--dark: #292929;
  --background-color--light: #f1f1f1;

  --background-color__accent--dark: #2b2b2b;
  --background-color__accent--light: #efefef;

  --brand-color: #4969E4;
  --brand-color__text--dark: #6989fa;

  --header-link__color--dark: #fff;
  --header-link__color--hover--dark: var(--brand-color__text--dark);
  --header-link__color--light: #292929;
  --header-link__color--hover--light: var(--brand-color);


  --input__bg-color--dark: #444;
  --input__placeholder-color--dark: rgba(255,255,255,0.6);
  --input__text-color--dark: #fff;
  --input__bg-color--light: #e8e8e8;
  --input__placeholder-color--light: rgba(0,0,0,0.6);
  --input__text-color--light: #161616;

  --link-color--dark: #6FB34D;
  --link-color--light: #4F932D;

  --text-color--dark: #e0e0e0;
  --text-color--secondary--dark: #a0a0a0;
  --text-color--tertiary--dark: #808080;
  --text-color--light: #292929;
  --text-color--secondary--light: #606060;
  --text-color--tertiary--light: #808080;

  --transition-timing: 250ms;
}

html {
  --background-color: var(--background-color--dark);
  --background-color__accent: var(--background-color__accent--dark);
  --brand-color__text: var(--brand-color__text--dark);
  --header-link__color: var(--header-link__color--dark);
  --header-link__color--hover: var(--header-link__color--hover--dark);
  --input__bg-color: var(--input__bg-color--dark);
  --input__placeholder-color: var(--input__placeholder-color-dark);
  --input__text-color: var(--input__text-color--dark);
  --link-color: var(--link-color--dark);
  --text-color: var(--text-color--dark);
  --text-color--secondary: var(--text-color--secondary--dark);
  --text-color--tertiary: var(--text-color--tertiary--dark);
}

html.theme--light {
  --background-color: var(--background-color--light);
  --background-color__accent: var(--background-color__accent--light);
  --brand-color__text: var(--brand-color);
  --header-link__color: var(--header-link__color--light);
  --header-link__color--hover: var(--header-link__color--hover--light);
  --input__bg-color: var(--input__bg-color--light);
  --input__placeholder-color: var(--input__placeholder-color--light);
  --input__text-color: var(--input__text-color--light);
  --link-color: var(--link-color--light);
  --text-color: var(--text-color--light);
  --text-color--secondary: var(--text-color--secondary--light);
  --text-color--tertiary: var(--text-color--tertiary--light);
}

@media (prefers-color-scheme: light) {
  html {
    --background-color: var(--background-color--light);
    --background-color__accent: var(--background-color__accent--light);
    --brand-color__text: var(--brand-color);
    --header-link__color: var(--header-link__color--light);
    --header-link__color--hover: var(--header-link__color--hover--light);
    --input__bg-color: var(--input__bg-color--light);
    --input__placeholder-color: var(--input__placeholder-color--light);
    --input__text-color: var(--input__text-color--light);
    --link-color: var(--link-color--light);
    --text-color: var(--text-color--light);
    --text-color--secondary: var(--text-color--secondary--light);
    --text-color--tertiary: var(--text-color--tertiary--light);
  }

  html.theme--dark {
    --background-color: var(--background-color--dark);
    --background-color__accent: var(--background-color__accent--dark);
    --brand-color__text: var(--brand-color__text--dark);
    --header-link__color: var(--header-link__color--dark);
    --header-link__color--hover: var(--header-link__color--hover--dark);
    --input__bg-color: var(--input__bg-color--dark);
    --input__placeholder-color: var(--input__placeholder-color-dark);
    --input__text-color: var(--input__text-color--dark);
    --link-color: var(--link-color--dark);
    --text-color: var(--text-color--dark);
    --text-color--secondary: var(--text-color--secondary--dark);
    --text-color--tertiary: var(--text-color--tertiary--dark);
  }
}



/*
  elements ===================
*/

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1rem;
}


/*
  typesetting ===================
*/

.md-typeset a {
  border-bottom: 2px dotted;
  color: var(--link-color);
}
.md-typeset a:hover,
.md-typeset a:focus {
  border-bottom: 2px solid;
}

.md-typeset h1 {
  color: var(--text-color);
  font-weight: 700;
}

.md-typeset h2 {
  color: var(--text-color--secondary);
  font-weight: 700;
}


/*
  utilities ===================
*/

[data-no-interact] {
  cursor: default;
  pointer-events: none;
}

.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}



/*
  header ===================
*/

.sash {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
.sash::after {
  background-color: var(--background-color__accent);
  content: '';
  height: 100vh;
  left: 50%;
  position: absolute;
  top: 0;
  transform: skew(30deg, 0) translateX(-112%);
  width: 22rem;
  z-index: -1;
}
@media screen and (min-width: 2000px) {
  .sash::after {
    transform: skew(30deg, 0) translateX(-120%);
  }
}

.dgs-header {
  background-color: transparent;
  height: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
  z-index: 2;
}
.md-container {
  z-index: 2;
}
.dgs-header-nav {
  justify-content: center;
}
.dgs-header-nav__button,
.md-source {
  color: var(--header-link__color);
  font-size: .8rem;
  font-weight: bold;
}

/* .dgs-header-nav__button,
.dgs-header-nav__button>*,
.md-source,
.md-source>* {
  transition: color var(--transition-timing);
} */

.md-header-nav__button:focus,
.md-header-nav__button:focus *,
.md-header-nav__button:hover,
.md-header-nav__button:hover *,
.md-source:focus,
.md-source:focus *,
.md-source:hover,
.md-source:hover * {
  color: var(--header-link__color--hover);
  fill: var(--header-link__color--hover);
  opacity: 1;
}

.dgs-logo,
.dgs-header-nav__start,
.dgs-header-nav__source {
  align-items: center;
  display: inline-flex;
}
.dgs-header-nav__source {
  max-width: none;
  padding-right: 2rem;
  padding-top: .7em;
  width: auto;
}
@media screen and (min-width: 1600px) {
  .dgs-header-nav__source {
    padding-top: .65em;
  }
}


.md-source__repository {
  max-width: none;
  width: auto;
}
.md-header-nav__button.dgs-logo img,
.md-header-nav__button.dgs-logo svg {
  height: 2rem;
  width: auto;
}

@media screen and (min-width: 1300px) {
  .md-header-nav__button.dgs-logo {
    margin-left: -1rem;
  }
}

.dgs-header .md-search__inner {
  background: var(--brand-color);
  border-radius: 3rem;
  padding: .5rem;
  position: relative;
}
.dgs-header .md-search__inner::after {
  background: var(--brand-color);
  bottom: 0;
  content: '';
  left: calc(100% - 4rem);
  position: absolute;
  top: 0;
  width: 100vw;
}

.dgs-header .md-search__input {
  border-radius: 1rem !important;
}

.md-icon svg {
  fill: var(--text-color);
}
.md-search__input~.md-search__icon svg {
  fill: var(--input__placeholder-color--dark);
}

[data-md-toggle=search]:checked~.dgs-header .md-search__input {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--input__text-color--dark);
}
[data-md-toggle=search]:checked~.md-header .md-search__input+.md-search__icon,
[data-md-toggle=search]:checked~.md-header .md-search__input::placeholder {
  color: var(--input__placeholder-color--dark);
}
[data-md-toggle=search]:checked~.md-header .md-search__input~.md-search__icon svg {
  fill: var(--input__placeholder-color--dark);
}

@media screen and (max-width: 59.9375em) {
  .md-search__overlay {
    background-color: var(--background-color);
  }
}

@media screen and (min-width: 60em) {
  [data-md-toggle=search]:checked~.md-header .md-search__output {
    border-radius: 1rem;
    width: calc(100% - 1rem);
  }
  .md-search__output {
    top: 3rem;
  }
}


/*
  header ===================
*/

.icon--inline {
  display: inline-block;
  vertical-align: bottom;
}


/*
  links & sidenav ===================
*/

.md-nav__item .md-nav__link--active {
  color: var(--brand-color__text);
  font-weight: 700;
}
